.content{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.image{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
}

.image img{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image .banner{
    position: absolute;
    top: 10vh;
    left: 32vw;
    width: 40vw;
    letter-spacing: 0.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    color: whitesmoke;
}

.image .words{
    line-height: 2.5vw;
    position: absolute;
    top: 35vh;
    left: 23vw;
    width: 50vw;
    font-size: 1.2;
    color: black;
    text-align: justify;
    background-color: whitesmoke;
    opacity: 0.8;
    padding: 1vw;
}