
.content{
    margin: 0px auto 0px auto;
    width: 100%;
    overflow: hidden;
}

.image{
    background-color: black;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
}

.image img{
    opacity: 0.8;
    width: 100vw;
    height: 72.5vh;
    object-fit: cover;
}

.typewriter1 h1,
.typewriter2 h1{
    margin-left: 2vw;
    border-right: solid 5px transparent;
    white-space: nowrap;
    overflow: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    color: whitesmoke;
}

.typewriter1{
    position: absolute;
    letter-spacing: 0.5vw;
}

.typewriter2{
    position: absolute;
    top: 15vh;
    letter-spacing: 3vw;
}

.typewriter1 h1{
    animation: animated-text 1s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

.typewriter2 h1{
    animation: animated-text 1s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
    animation-delay: 2s;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 100%;}
}
  
@keyframes animated-cursor{
    from{border-right-color: transparent;}
    to{border-right-color: transparent;}
}

.shopnow{
    position: absolute;
    top: 50vh;
    left: 2vw;
    width: 30vw;
    background-color: white;
    color: lightgray;
    padding: 1vw;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.5vw;
    font-size: 1vw;
    text-decoration: none;
}

.shopnow:hover{
    background-color: lightgray;
    color: white;
}

#dashboardPage{
    display: flex;
    width: 100%;
    justify-content: left;
    margin: 2vh 0 2vh 0;
}

#dashboardPage .sideFilter{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 20vw;
    background-color: white;
    padding: 1vw;
}

#dashboardPage .sideFilter .filterTitle{
    display: flex;
    align-items: center;
}

#dashboardPage .sideFilter .filterTitle svg{
    font-size: 1vw;
}

#dashboardPage .sideFilter .filterBox{
    border-bottom: 2px solid lightgray;
}

#dashboardPage .sideFilter .filterBox input[type=checkbox]{
    border: 1px solid transparent;
    height: 1vw;
    width: 1vw;
}

#dashboardPage .sideFilter #filterBtn,
#dashboardPage .sideFilter #resetButton{
    margin: 2vh 0 2vh 0;
    display: block;
    width: 20vw;
    padding: 0vh 1vw 0vh 1vw;
    border: 3px solid lightgray;
    font-size: 1vw;
    color: lightgray;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

#dashboardPage .sideFilter #filterBtn:hover,
#dashboardPage .sideFilter #resetButton:hover{
    background-color: lightgray;
    color: white;
}

#dashboardPage .sideFilter .filterBox .filterOptions{
    display: flex;
    flex-direction: column;
}

#dashboardPage .sideFilter .filterBox .filterOptions label{
    font-size: 1vw;
}

#dashboardPage .shoesPane{
    margin-top: 2vh;
    background-color: white;
    width: 65vw;
    padding: 1vw;
}

#dashboardPage .shoesPane .topBar{
    width: 15vw;
}

#dashboardPage .shoesPane .topBar .sortList .sortby{
    display: flex;
    align-items: center;
    width: 15vw;
    font-weight: bold;
}

#dashboardPage .shoesPane .topBar .sortList select{
    width: 30vw;
    display: block;
    border: none;
    padding: 1vw;
    background-color: whitesmoke;
}

#dashboardPage .shoesPane .shoesGrid{
    display: flex;
    flex-wrap: wrap;
    width: 65vw;
}

#dashboardPage .shoesPane .shoesGrid .itemDetails{
    border: 2px solid lightgray;
    height: 17vw;
    width: 17vw;
    margin: 1vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#dashboardPage .shoesPane .shoesGrid .itemDetails:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#dashboardPage .shoesPane .shoesGrid .itemDetails .itemImage{
    display: block;
    align-self: center;
    height: 10vw;
    width: 10vw;
    object-fit: cover;
}

#dashboardPage .shoesPane .shoesGrid .itemDetails .itemName{
    display: block;
    height: 30vh;
    width: 17vw;
    text-align: center;
    font-size: 1vw;
}

#dashboardPage .shoesPane .shoesGrid .itemDetails .itemPrice{
    font-weight: bold;
    text-align: center;
    color: yellowgreen;
    font-size: 1vw;
}